*{padding: 0px; margin: 0px; box-sizing: border-box;}

html{
    font-family:  'Open Sans', sans-serif;
     -webkit-font-smoothing: antialiased;
     color: #333
}

body{margin-top:50px;background-color:#fff;}

footer{
    width:100%;
    margin-top:50px;
    padding: 10px;
    background: #e3e3e3;
    text-align: center;
}

.container {
    max-width: 70em;
    margin: auto;
}
.container-wide {
    max-width: 90em;
    margin: auto;
}


a.url {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
  
a:link.url {
    color: #005aa3;
}
  
a:visited.url {
    color: #005aa3;
}
  
a:focus.url {
    border-bottom: 1px solid;
}
  
a:hover.url {
    border-bottom: 1px solid;
}

#Social{
    height: 30px;
    display:inline-block; 
    margin: 0 5px 0 5px;
}
 

header {
	background: url('../images/header-background.jpg');
	text-align: left;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
    overflow:hidden;
}

header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 169deg, #003d806b 10%, #00000099 100%);
}

#header .avatar{
    text-align: center;
}

header .avatar img {
    width: 65%;
    border-radius: 50%;                 
    border: 4px solid #ffff;
}

#header .text-content h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
    margin:0;
    width: 100%;
	margin-bottom: 10px;
}

#header .text-content h2 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
    font-size: 30px;
}

#header .text-content h3 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
    font-size: 20px;
}

#header .text-content p {
    margin-top: 20px;
    margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#navbar {
    position: fixed;
    top:0px;
    width:100%;
    background-color: #fff;
    border-bottom:2px solid #e3e3e3;
    z-index: 999;
}

.section{
    padding:0px 5px 5px 5px;
    border-radius: 10px; 
    background-color:  #ffffff;
    margin-top:10px;
}

.section .title{
    margin: 12px 0px 0px 10px;
    font-size: 20px;
    text-align:center;
    padding-bottom:10px;
    border-bottom: 2px solid #cacaca;
}
.section .bubble_container{
    padding: 10px;
}

.section .bubble_container .content{
    border-radius: 10px; 
    border: 1.5px solid #e3e3e3;
    padding: 10px;
}

.section .bubble_container .content h3{
    font-size: 17px;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 2px solid #e3e3e3;
}

.section .bubble_container .content img{
    display: block;
    width: 30%;
    margin: auto;
    margin-top:10px;
}

.section .bubble_container .content img.uni{
    width: 50%;
}

.section .bubble_container .content p{
    font-size: 14px;
    margin-top: 2px; 
    text-align: center;
}
