*{padding: 0px; margin: 0px; box-sizing: border-box;}

html{
    font-family:  'Open Sans', sans-serif;
     -webkit-font-smoothing: antialiased;
}

body{height: 900px;margin-top:50px;}

header {
	background: url('../images/header-background.jpg');
	text-align: left;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
    overflow:hidden;
}

header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 169deg, #003d806b 10%, #00000099 100%);
}

header .avatar{
    text-align: center;
}

header .avatar img {
    width: 65%;
    border-radius: 50%;                 
    border: 4px solid #ffff;
}

#header .text-content h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
    margin:0;
    width: 100%;
	margin-bottom: 10px;
}

#header .text-content h2 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
    font-size: 30px;
}

#header .text-content h3 {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
    font-size: 23px;
}

#header .text-content p {
    margin-top: 20px;
    margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 70em;
    margin: auto;
}

#navbar {
    position: fixed;
    top:0px;
    width:100%;
    background-color: #fff;
    border-bottom:2px solid #e3e3e3;
}